.shopihead {
    text-align: center;
    color:ghostwhite;
    background-color: rgb(44, 42, 42);
    padding: 2%;
}
#hungry4shop{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-nav {
  padding-bottom: 1%;
}
#google{
  padding: 2%;
}
.nav-item{
  font-size: 22px;
  font-weight: 150;
}