body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("/img/background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-nav {
  padding-bottom: 1%;
}
#google{
  padding: 2%;
}
.nav-item{
  font-size: 22px;
  font-weight: 150;
}
#bottomDiv {
  display: block;
  text-align: center;
  color: ghostwhite;
  background-color: rgb(14, 1, 1);
  padding: 5%;
}
#bottomText1 {
  font-weight: 300;
  font-size: 50px;
}
#bottomText2 {
  font-weight: 150;
  font-size: 40px;
  text-align: center;
}
#weatherwidget-io{
  background-color: rgba(14, 1, 78, 0.144);
  padding: 5%;
}
#clock{
  margin: 2%;
}