.navbar-nav {
  padding-bottom: 4%;
}
#google{
  padding: 5%;
}
.nav-item{
  font-size: 24px;
  font-weight: 200;
}

.test {
  text-align: center;
  color: ghostwhite;
  background-color: rgb(80, 75, 75);
  padding: 2%;
}

#test1 {
  padding: 1%;
  font-weight: 400;
  font-size: 35px;
}

#test2 {
  font-weight: 200;
  font-size: 25px;
  text-align: center;
}

.card {
  padding: 1%;
  border: solid;
  border-width: 1px;
  border-color: rgb(145, 140, 140);
}

#gymbanner{
    margin-top: 15px;
    filter: brightness(50%);
    display: block;
    width: 100%;
}