html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.shopihead {
    text-align: center;
    color:ghostwhite;
    background-color: rgb(0, 0, 0);
    padding: 2%;
}
#hungry4shop{
  max-width: 60%;
  height: auto;
  filter: grayscale(100%);
  padding-bottom: 2%;
}

.navbar-nav {
  padding-bottom: 1%;
}
#google{
  padding: 2%;
}
.nav-item{
  font-size: 22px;
  font-weight: 150;
}

#test1{
  font-weight: 150;
}
#test2{
  font-size: 35px;
  font-weight: 100;
}

.card{
  text-align: center;
}

.card-text{
  font-size: 24px;
}

#cards{
  background-color: black;
  padding: 8%;
}