body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("/img/background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-nav {
  padding-bottom: 4%;
}
#google{
  padding: 5%;
}
.nav-item{
  font-size: 24px;
  font-weight: 200;
}
.test {
  display: block;
  text-align: center;
  color: ghostwhite;
  background-color: rgb(44, 42, 42);
  padding: 10%;
}
#test1 {
  font-weight: 400;
  font-size: 50px;
}
#test2 {
  font-weight: 200;
  font-size: 40px;
  text-align: center;
}
#weatherwidget-io{
  background-color: rgba(136, 131, 131, 0.24);
  padding: 5%;
}