.card-deck{
  padding: 1,77%;
  display: inline-block;
}
.card{
  display: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(146, 143, 143);
  padding: 0,5%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.card-text{
  font-size: 24px;
}

.navbar-nav {
  padding-bottom: 1%;
}

#google{
  padding: 2%;
}

.nav-item{
  font-size: 22px;
  font-weight: 150;
}

#cardPics{
  max-width: 100%;
  height: auto;
}

.bottomfood{
  margin-top: 15px;
  filter: brightness(80%);
  display: block;
  width: 100%;
}

#hungryDiv{
background-color: black;
color: white;
text-align: center;
}
#hungry{
  max-width: 70%;
  height: auto;
  padding: 2%;
  filter: grayscale(100%);
}

#test1{
  padding: 1%;
  font-weight: 200;
  font-size: 45px;
}

#test2{
  padding-bottom: 2%;
  font-weight: 150;
  font-size: 40px;
}

.h3{
  font-weight: 100;
}

.card{
  box-shadow: 2px 2px 2px black;
}