.card-deck{
  padding: 1,77%;
  display: inline-block;
}
.card{
  display: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(146, 143, 143);
  padding: 0,5%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.card-text{
  font-size: 24px;
}

.navbar-nav {
  padding-bottom: 1%;
}

#google{
  padding: 2%;
}

.nav-item{
  font-size: 22px;
  font-weight: 150;
}

.card-body{
  padding: 1%;
}
.bottomfood{
  margin-top: 15px;
  filter: brightness(80%);
  display: block;
  width: 100%;
}

#hungryDiv{
background-color: black;
color: white;
text-align: center;
}
#hungry{
  max-width: auto;
}

#test1{
  padding: 1%;
  font-weight: 400;
  font-size: 35px;
}

#test2{
  font-weight: 400;
  font-size: 22px;
}