.navbar-nav {
  padding-bottom: 1%;
}
#google{
  padding: 2%;
}
.nav-item{
  font-size: 22px;
  font-weight: 150;
}

#introTextFit {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 2, 2);
  padding: 2%;
  filter: grayscale(100%);
}

#fat{
  max-width: auto;
}

#test1 {
  padding: 1%;
  font-weight: 200;
  font-size: 45px;
}

#test2 {
  font-weight: 100;
  font-size: 35px;
  text-align: center;
}

.card {
  padding: 1%;
  border: solid;
  border-width: 1px;
  border-color: rgb(145, 140, 140);
}

#gymbanner{
    margin-top: 15px;
    filter: brightness(50%);
    display: block;
    width: 100%;
}