.navbar-nav {
    padding-bottom: 1%;
  }
  #google{
    padding: 2%;
  }
  .nav-item{
    font-size: 22px;
    font-weight: 150;
  }

  .card{
    text-align: center;
  }
  
  .card-text{
    font-size: 24px;
  }

  #travel{
    display: block;
   
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 3%;
  }
  #travelText{
    color: white;
    font-weight: 100;
  }
  #travelPic{
    max-width: 100%;
    height: auto;
    padding: 2%;
    filter: grayscale(100%);
  }

  .card{
    box-shadow: 2px 2px 2px black;
  }