.card-deck{
  padding: 1,77%;
  display: inline-block;
}
.card{
  display: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(146, 143, 143);
  padding: 0,5%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-body{
  padding: 1%;
}
.bottomfood{
  margin-top: 15px;
  filter: brightness(80%);
  display: block;
  width: 100%;
}
.test{
  text-align: center;
  color:ghostwhite;
  background-color: rgb(44, 42, 42);
  padding: 2%;
}
#test1{
  padding: 1%;
  font-weight: 400;
  font-size: 35px;
}
#test2{
  font-weight: 200;
  font-size: 25px;
  text-align: center;
}
#hungry{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}