.shopihead {
    text-align: center;
    color:ghostwhite;
    background-color: rgb(44, 42, 42);
    padding: 2%;
}
#hungry4shop{
   margin-left: auto;
   margin-right: auto;
  max-width: auto;
}

.navbar-nav {
  padding-bottom: 1%;
}
#google{
  padding: 2%;
}
.nav-item{
  font-size: 22px;
  font-weight: 150;
}

#test1{
  font-weight: 200;
}
#test2{
  font-size: 30px;
  font-weight: 200;
}

.card{
  text-align: center;
}

.card-text{
  font-size: 24px;
}